<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <staticLogFileName value="false" />
    <file value="logs\" />
    <datePattern value="yyyy.MM.dd'.log.txt'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="25MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date %-23logger: %message%newline" />
    </layout>
  </appender>
</log4net>
